# Repota Dependency directories
node_modules/
www/
platforms/
plugins/

# Horton Server
*.exe
*.exe~
GIT_REPO_ID
*.save
api/go/config/config.ini

# Elastic Beanstalk Files
.elasticbeanstalk/
.ebignore

# JetBrains IDEs
.idea/

# misc
temp/
.claude/
